.profile {
  display: flex;
  flex-direction: column;
  padding: 74px 70px 70px;
  color: #fff;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 auto;
}

.profile__form {
  display: flex;
  flex-direction: column;
  margin: 123px auto 0;
}

.profile__fields {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__field {
  display: flex;
  justify-content: space-between;
  width: 410px;
}

.profile__field:not(:last-child) {
  padding-bottom: 16px;
  margin-bottom: 17px;
  border-bottom: 1px solid #424242;
}

.profile__field-name {
  width: 141px;
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  color: #fff;
  border: none;
  padding: 0;
  background-color: #202020;
  margin: 0;
  width: 269px;
  height: 90%;
  text-align: right;
  font-size: 11px;
  line-height: 13px;
  outline: none;
}

.profile__button {
  border: none;
  background-color: #202020;
  padding: 0;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
}

.profile__button:hover {
  opacity: 0.6;
}

.profile__button_edit {
  margin: 220px auto 0;
}

.profile__button_exit {
  margin: 16px auto 0;
  color: #ee3465;
  font-weight: 500;
}

.profile__error {
  color: #ee3465;
  font-size: 10px;
  line-height: 12px;
  display: none;
}

.profile__error_visible {
  display: block;
}

@media (max-width: 1023px) {
  .profile {
    padding: 0 30px 33px;
    height: calc(100vh - 107px);
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .profile {
    padding: 70px 30px 40px;
    height: calc(100vh - 184px);
  }
  .profile__field {
    width: 260px;
  }
  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}
