.search {
  padding: 70px 70px 10px;
}

.search__form {
  background: #222;
  display: flex;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  padding-left: 5px;
  min-height: 72px;
  align-items: center;
}

.search__icon {
  width: 34px;
  height: 34px;
  background: url("../../images/Find.svg") center no-repeat;
  margin: 0 10px 0 14px;
}

.search__input {
  font-size: 18px;
  line-height: 20px;
  background-color: #222222;
  color: #8b8b8b;
  border: none;
  padding: 0;
  margin: 0 auto 0 0;
  min-width: 495px;
}

.search__error {
  color: #ee3465;
  font-size: 10px;
  line-height: 12px;
}

.search__button {
  background: #4285f4;
  border-radius: 48px;
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  border: none;
  width: 59px;
  height: 34px;
  margin: 0 19px 0 21px;
  cursor: pointer;
}

.search__button:hover {
  opacity: 0.6;
}

.search__filter {
  display: flex;
  align-items: center;
  padding-left: 29px;
  border-left: 1px solid #505050;
  min-height: 40px;
}

.search__filter-icon {
  background-color: #3ddc84;
  border-radius: 20px;
  width: 36px;
  height: 20px;
  cursor: pointer;
}

.search__filter-icon:hover {
  opacity: 0.6;
}

.search__icon-ring {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  width: 16px;
  height: 16px;
  margin: 2px 2px 2px auto;
}

.search__filter-text {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  margin: 0 30px 0 14px;
}

.search__border-bottom {
  margin: 69px auto 0;
  border-bottom: 1px solid #424242;
}

@media (max-width: 1023px) {
  .search {
    padding: 80px 30px 10px;
  }
  .search__input {
    min-width: 338px;
  }
  .search__filter {
    padding-left: 19px;
  }
  .search__filter-text {
    margin: 0 20px 0 15px;
  }
  .search__border-bottom {
    margin: 109px auto 0;
  }
}

@media (max-width: 767px) {
  .search {
    padding: 80px 10px 10px;
    display: flex;
    flex-direction: column;
  }
  .search__icon {
    display: none;
  }
  .search__input {
    margin: 0 auto 0 19px;
    min-width: 189px;
  }
  .search__filter {
    padding: 0;
    border: none;
    margin: 46px auto 10px;
    padding-bottom: 45px;
    border-bottom: 1px solid #424242;
    width: 100%;
    justify-content: center;
  }
  .search__filter-text {
    margin: 0 20px 0 15px;
  }
}
